.active {
    background-color: rgb(56, 39, 3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(114, 85, 5);
    position: sticky;
    top: 0;
}

nav .title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0.5em;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: rgb(245, 208, 106);
}

.footer{
    text-align: center;
    padding: 0.25em;
    margin: 0.25em;
}